.headerContainer {
  width: 100%;
  background-color: green;
  padding: 15px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.headerInner {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
}

.logo {
  width: 170px;
  height: auto;
  filter: brightness(0) invert(1); /* делает лого белым */
}

.logo {
  text-decoration: none;
  font-size: 37px;
  font-weight: 600;
  transition: 0.3s ease;
}

.logo {
  display: flex;
}

.logo:hover {
  color: rgb(0, 0, 0);
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLink {
  text-decoration: none;
  color: whitesmoke;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s ease;
}

.navLink:hover {
  color: rgb(0, 0, 0);
}
