.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.login-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

.login-footer {
  text-align: center;
  margin-top: 20px;
}

.login-footer a {
  color: #007bff;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}



.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 60px;
  background-color: #fff;
}

.register-image img {
  width: 500px;
  height: auto;
  object-fit: cover;
	margin-right: 70px;
}

.register-form {
  max-width: 400px;
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.register-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.register-footer {
  text-align: center;
  margin-top: 15px;
}

.register-footer a {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;
}

.register-footer a:hover {
  text-decoration: underline;
}
