footer.footerContainer {
  width: 100%;
  background-color: green;
  color: whitesmoke;
  margin-top: 100px;
  padding: 20px 0;
  box-shadow: 0 -2px 8px rgba(120, 121, 120, 0.1);
}

.footerInner {
  max-width: 1200px;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  justify-content: center; 
  
  padding: 0 40px;
  text-align: center;
}

.footerRight {
  display: flex;
  gap: 200px;
  flex-wrap: wrap;
  justify-content: center; 
}

.footerRight a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 500;
  transition: 0.3s ease;
}

.footerRight a:hover {
  color: rgb(0, 0, 0);
}
