.login-container,
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 60px;
  background-color: #fff;
}

.register-image img {
  width: 500px;
  height: auto;
  object-fit: cover;
  margin-right: 70px;
}

.login-form,
.register-form {
  max-width: 400px;
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.login-title,
.register-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 24px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

.login-footer,
.register-footer {
  text-align: center;
  margin-top: 20px;
}

.login-footer a,
.register-footer a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.login-footer a:hover,
.register-footer a:hover {
  text-decoration: underline;
}